.carousel {
    // border: 2px solid red;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background-color: $color-primary;
    margin-top: 0px;
    margin-bottom: 0px;
    // .cmp-teaser__image {
    // border-color: 5px solid black !important;
    // margin-left: $global-margin-left;
    // width: 50%;
    // margin-top: 0;
    // border: 2px solid pink;
    // margin: 0 auto 0 auto;
    // }
}
.carousel {
    img {
        // border: 2px solid pink;
        border-radius: 20px;
        margin-top: 30px;
        width: 80%;
        // border: 2px solid orange;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
}

.cmp-carousel {
}
.cmp-carousel__content {
    margin-left: $global-margin-left;
}

.carousel {
    .cmp-image__link {
        // border: 2px solid red;
        // visibility: hidden;
        // height: 0;
    }
}

.carousel {
    color: darken($color-secondary, 10%);
    h2 {
        font-size: 20px;
    }
    a:not(.cmp-image__link) {
        background-color: $color-secondary;
        text-decoration: none;
        color: $color-primary;
        background-color: $color-light-orange;
        padding: 10px 30px 10px 30px;
        font-weight: 600;
        &:hover {
            background-color: darken(rgba(228, 255, 225), 5%);
        }
    }
}

.cmp-carousel__item {
}
.cmp-carousel__actions {
}
.cmp-carousel__action {
}
.cmp-carousel__action--disabled {
}
.cmp-carousel__action--previous {
}
.cmp-carousel__action--next {
}
.cmp-carousel__action--pause {
}
.cmp-carousel__action--play {
}
.cmp-carousel__action-icon {
}
.cmp-carousel__action-text {
}
.cmp-carousel__indicators {
}
.cmp-carousel__indicator {
}
