.promo-banner {
    margin-bottom: 0px;
    box-shadow: 0 2px 4px 0 rgb1 a(121, 96, 96, 0.5);
}

// // .cmp-experiencefragment--promo-banner {
//     // background-color: $color-vivid-contrast;
//     // border: 2px solid red;
// // }

// .cmp-experiencefragment--promo-banner h1 {
//     color: $color-light-orange;
// }

// .cmp-experiencefragment--promo-banner p {
//     background-color: $color-light-orange;
//     color: $color-secondary;
//     margin-left: 30px;
// }

// #promo-text {
//     color: aqua !important;
// }

// .cmp-experiencefragment--header {
//     // border: 2px solid yellow !important;
//     background: $color-secondary !important;
// }

#sale-banner p {
    // border: 2px solid red;
    background-color: $color-vivid-contrast;
    // background-color: $color-primary;
    color: $color-secondary;
    a {
        // color: $color-vivid-contrast;
        color: white;
        &:hover {
            color: $color-primary;
        }
        @media only screen and (max-width: $breakpoint) {
            display: block;
        }
    }
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

// capture wrapper around #header-content
// .cmp-experiencefragment--promo-banner > div > div {
#header-bot {
    // .someclass {

    // }
    background: $color-secondary;
    border-bottom: 1px solid white;
    // position: fixed;
    // top: 0;
    // bottom: 80%;
    // left: 0;
    // right: 0;
}

// #landing-page h1 {
#header-bot {
    .title {
        // border: 2px solid yellow;
        margin-top: 0px;
        display: inline-block;
        color: white;
        font-style: italic;
        // @media only screen and (min-width: calc($breakpoint + 1px)) {
        //     bottom: 197px;
        //     margin-bottom: -197px;
        //     height: 180px;
        // }

        @media only screen and (min-width: calc($breakpoint + 1px)) {
            .cmp-title__text {
                margin-left: $global-margin-left;
            }
        }
        @media only screen and (max-width: $breakpoint) {
            .cmp-title__text {
                // border: 1px solid orange;
                text-align: center;
            }
        }
    }
}

.cmp-navigation__group {
    // border: 2px solid red;
    list-style: none;
    text-align: right;
    padding-top: 30px;
}

#sale-banner a {
    color: $color-primary;
    &:hover {
        color: $color-secondary;
    }
}

#header-bot ul {
    margin-left: $global-margin-left;
}

#header-bot li {
    display: inline;
    margin-right: 10px;
    margin-bottom: 20px;
    a {
        color: $color-secondary;
        text-decoration: none;
        background-color: rgba(228, 255, 225, 0.9);
        font-weight: 400;
        box-shadow: rgb(228, 255, 225) 0px 48px 100px 0px;
        &:hover {
            background-color: darken(rgba(228, 255, 225), 5%);
        }
        padding: 5px 15px 5px 15px;
    }
}

ul,
li {
    margin: 0;
    padding: 0;
}

#header-bot {
    // margin-top: 0px;
}
