.promo-banner {
    // selects the entire header experience fragment
    // border: 2px solid red;
    // box-shadow: 0 2px 4px 0 rgb1 a(121, 96, 96, 0.5);
}

#sale-banner p {
    background-color: $color-vivid-contrast;
    color: $color-secondary;
    a {
        color: #fff;
        &:hover {
            color: $color-primary;
        }
        @media only screen and (max-width: $breakpoint) {
            display: block;
        }
    }
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

#header-bot {
    background: $color-secondary;

    @media (prefers-color-scheme: light) {
        border-bottom: 1px solid #fff;
    }
    @media (prefers-color-scheme: dark) {
        border-bottom: 1px solid #000;
    }
}

// #landing-page h1 {
#header-bot {
    .title {
        margin-top: 0px;
        display: inline-block;
        @media (prefers-color-scheme: dark) {
            color: #000;
        }
        @media (prefers-color-scheme: light) {
            color: #fff;
        }
        font-style: italic;

        @media only screen and (min-width: calc($breakpoint + 1px)) {
            .cmp-title__text {
                margin-left: $global-margin-left;
            }
        }
        @media only screen and (max-width: $breakpoint) {
            .cmp-title__text {
                text-align: center;
            }
        }
    }
}

.cmp-navigation__group {
    list-style: none;
    text-align: right;
    padding-top: 30px;
}

#sale-banner a {
    color: $color-primary;
    @media (prefers-color-scheme: dark) {
        color: $color-vivid-contrast-darkmode !important;
    }
    &:hover {
        color: $color-secondary;
    }
}

#header-bot ul {
    margin-left: $global-margin-left;
}

#header-bot li {
    display: inline;
    margin-right: 10px;
    margin-bottom: 20px;
    a {
        color: $color-secondary;
        text-decoration: none;
        background-color: rgba(228, 255, 225, 0.9);
        font-weight: 400;
        box-shadow: rgb(228, 255, 225) 0px 48px 100px 0px;
        &:hover {
            background-color: darken(rgba(228, 255, 225), 5%);
        }
        padding: 5px 15px 5px 15px;
    }
}

ul,
li {
    margin: 0;
    padding: 0;
}
