#featured-teaser {
    margin-bottom: 0px;
}

#featured-teaser img {
    width: 100vw;
    margin: 0px;
    display: block;
}

#featured-teaser .cmp-teaser__content {
    @media (prefers-color-scheme: dark) {
        color: $color-primary;
        background-color: rgb(96, 96, 96, 0.8);
    }
    @media (prefers-color-scheme: light) {
        color: #fff;
        background-color: rgb(96, 96, 96, 0.5);
    }
    position: relative;
    z-index: 1;

    @media only screen and (min-width: calc($breakpoint + 1px)) {
        bottom: 197px;
        margin-bottom: -197px;
        height: 180px;
        h2 {
            margin-left: $global-margin-left;
            position: relative;
            top: 25%;
            font-size: 20px;
        }
        p {
            margin-left: $global-margin-left;
            padding-top: 7%;
        }
    }

    @media only screen and (max-width: $breakpoint) {
        // border: 1px solid red;
        $offset: 72px;
        bottom: $offset;
        margin-bottom: calc(-1 * $offset);
        height: 60px;
        p {
            display: none;
        }
        h2 {
            // margin-left: $global-margin-left;
            text-align: center;
            position: relative;
            top: 20px;
            font-size: 15px;
        }
    }

    a {
        color: $color-secondary-darkened;
        text-decoration: none;
        background-color: rgba(228, 255, 225, 0.9);
        padding: 10px 30px 10px 30px;
        font-weight: 600;
        &:hover {
            background-color: darken(rgba(228, 255, 225), 5%);
        }
    }
}

#teaser-a6fac18833 .cmp-teaser__content {
    @media (prefers-color-scheme: dark) {
        color: #000;
    }
    @media (prefers-color-scheme: light) {
        color: #fff;
    }
    background-color: rgb(96, 96, 96, 0.5);
    position: relative;
    bottom: 210px;
    margin-bottom: -210px;
    height: 180px;
    z-index: 1;

    h2 {
        margin-left: $global-margin-left;
        position: relative;
        top: 25%;
        font-size: 20px;
    }

    a {
        color: $color-secondary-darkened;
        text-decoration: none;
        background-color: rgba(228, 255, 225, 0.9);
        padding: 10px 30px 10px 30px;
        font-weight: 600;
        &:hover {
            background-color: darken(rgba(228, 255, 225), 5%);
        }
    }

    p {
        margin-left: $global-margin-left;
        color: white;
        padding-top: 7%;
    }

    @media only screen and (max-width: $breakpoint) {
        // border: 1px solid red;
        $offset: 78px;
        bottom: $offset;
        margin-bottom: calc(-1 * $offset);
        height: 60px;
        p {
            display: none;
        }
        h2 {
            // margin-left: $global-margin-left;
            margin-left: 0 !important;
            text-align: center;
            position: relative;
            top: 20px;
            font-size: 15px;
        }
    }

}
// #featured-teaser .cmp-teaser__pretitle {
//     // text-align: center;
//     color: orange;
//     padding-left: 1rem;
// }

// #featured-teaser .cmp-teaser__title-link {
// color: brown !important;
// }

// #featured-teaser .cmp-teaser__description {
//     // color: yellow;
// }

// .cmp-teaser {}
// .cmp-teaser__image {}
// .cmp-teaser__content {}
// .cmp-teaser__pretitle {}
// .cmp-teaser__title {}
// .cmp-teaser__title-link {}
// .cmp-teaser__description {}
// .cmp-teaser__action-container {}
// .cmp-teaser__action-link {}
