$global-margin-left: 30px;
$breakpoint: 700px;

//== Font
$font-size:             16px;
$font-height:           1.5;

//== Palette
$color-vivid-contrast: #F0A868;
$color-primary: #E4FFE1;
$color-secondary: #6A8D73;
$color-secondary-darkened: darken($color-secondary, 10%);

//== Dark Mode Palette
$color-vivid-contrast-darkmode: darken($color-vivid-contrast, 30%);
$color-primary-darkmode: darken($color-primary, 30%);
$color-secondary-darkmode: darken($color-secondary, 30%);
$slate-grey: #87919B;


// Normal mode
$color-foreground:      #202020;
$color-background:      #FFFFFF;
$color-link:            blue;

// Dark mode
$color-foreground-dark: invert($color-foreground);
// $color-background-dark: invert($color-background);
$color-background-dark: $slate-grey;
$color-link-dark:       invert($color-link);


//== Typography
$standard-font-family: "Outfit", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;

