
//== Font

$font-family:           "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size:             16px;
$font-height:           1.5;

//== Color

$color-primary: #F0A868;
$color-secondary: #FFE8C2;
$color-tertiary: #E4FFE1;
$color-quaternary: #F4FDD9;
$color-five: #6A8D73;

// Normal mode
$color-foreground:      #202020;
$color-background:      #FFFFFF;
$color-link:            $color-five;

// Dark mode
$color-foreground-dark: invert($color-foreground);
$color-background-dark: invert($color-background);
$color-link-dark:       invert($color-link);
