@import "variables";
@import "base";
@import "../components/**/*.scss";
@import "./styles/*.scss";
@import URL("https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap");

:root {
    font-family: Outfit, "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer {
    background-color: $color-secondary;
    color: white;
    @media (prefers-color-scheme: dark) {
        border-color: #000 !important;
    }
}
