
@import 'variables';
@import 'base';
@import '../components/**/*.scss';
@import './styles/*.scss';

#featured-teaser {
    background-color: $color-tertiary;
    margin: 0;
}

#featured-teaser img {
    width: 90vw;
    padding-top: 30px;
    margin: 0 auto 0 auto;
    display: block;
}